/* styled using a tag */
img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
/* styled using id */


#image1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 50%;
        opacity: 0.5;
}

/* styled using class*/

.image2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 4px;
        border: 1px solid chartreuse;

}

body{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover ;
        opacity: 0.8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid slategrey;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}