#it1{
    display: block;
    padding: 35px;
    margin-left: auto;
    margin-left: auto;
}

#it2{
    display: block;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;

}

#it3{
    font-family: "Times New Roman";
    font-style:italic ;
    font-size: 18px;
    color: black;
}

#p1{
    font-size: 22px;
    font-family: "Arial Black";
}

#p2{
      font-size: 22px;
    font-family: "Arial Black";
}

#p3{
    color: darkorange;
    font-family:Verdana ;
}