<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Layout</title>
</head>
<body>


<!--TABLE LAYOUT-->
    <table>
<!--        table layouts-->
        <tr>
            <th>column one</th>
            <th>column two</th>
        </tr>

    <tr>
        <td>
<!--  inside these spaces          -->
<!--            write any other html elements-->
            <img src="../../Assets/beauty.jpeg" height="200" width="200"/>
            <img src="../../Assets/beauty.jpeg" height="200" width="200"/>
            <img src="../../Assets/beauty.jpeg" height="200" width="200"/>
            <img src="../../Assets/beauty.jpeg" height="200" width="200"/>
            <img src="../../Assets/beauty.jpeg" height="200" width="200"/>
            <img src="../../Assets/beauty.jpeg" height="200" width="200"/>
            <img src="../../Assets/beauty.jpeg" height="200" width="200"/>


            <img src="../../Assets/download.jpeg" height="323" width="156"/></td>

        <td>
<!--            iframe's : HTML Element that allows us to embed whole web documents inside another web docs-->
            <iframe width="400" height="400" src="https://www.youtube.com/embed/0nb2yxeeqhU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="400" height="400" src="https://www.youtube.com/embed/0nb2yxeeqhU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </td>
        </tr>
    </table>


</body>
</html>